<!-- Contact-Info Pattern -->
<!-- @see http://schema.org/Restaurant -->
<div class="contact-info" itemscope itemtype="http://schema.org/Restaurant">
  <h2 itemprop="name">Peter's <span itemprop="servesCuisine">Pizza</span> Parlour</h2>
  <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div itemprop="streetAddress">123 Main St</div>
    <span itemprop="addressLocality">Austin</span>,
    <abbr itemprop="addressRegion" title="Texas">TX</abbr>
    <span itemprop="postalCode">78731</span>
    <div><abbr itemprop="addressCountry" title="United States of America">US</abbr></div>
    <div><a href="tel:18005551234" itemprop="telephone">1.800.555.1234</a></div>
  </address>
</div>
